<style>
    .table td, .table th {
        vertical-align: middle;
    }

    .table tbody tr {
        transition: background-color 0.15s ease;
    }

        .table tbody tr:hover {
            background-color: #dde8ff;
            cursor: default;
        }

    .table tbody td:nth-child(3) {
        font-family: monospace;
        font-weight: 600;
        color: #0d6efd;
    }

    .table-wrapper {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    .address-city {
        color: #6c757d;
        font-size: 0.85rem;
    }
</style>

<div class="py-4">
    <p class="text-secondary mb-4">
        For customers needing immediate title work and to obtain a temporary vehicle registration and plate,
        DMV is providing the following list of available Licensing Services for customer convenience.
    </p>
    <hr class="mb-4" />

    <div class="table-wrapper">
        <table class="table table-bordered table-striped mb-0">
            <thead class="table-dark">
                <tr>
                    <th style="width:40%;">Business Name</th>
                    <th style="width:45%;">Address</th>
                    <th style="width:15%;">Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A Plus License Service, Inc.</td>
                    <td>3691 Robert C. Byrd Drive<br /><span class="address-city">Beckley, WV 25801</span></td>
                    <td>304-253-5853</td>
                </tr>
                <tr>
                    <td>Paul's License Service</td>
                    <td>601 Thorn Street<br /><span class="address-city">Princeton, WV 24740</span></td>
                    <td>304-425-7466</td>
                </tr>
                <tr>
                    <td>Cooks License Service</td>
                    <td>P.O. Box 792<br /><span class="address-city">Oceana, WV 24870</span></td>
                    <td>304-682-5314</td>
                </tr>
                <tr>
                    <td>Bill's License Service</td>
                    <td>P.O. Box 218<br /><span class="address-city">Madison, WV 25130</span></td>
                    <td>304-369-0163</td>
                </tr>
                <tr>
                    <td>Thorne's License Service</td>
                    <td>1950 Double Cribbs Road<br /><span class="address-city">Burlington, WV 26710</span></td>
                    <td>304-289-3666</td>
                </tr>
                <tr>
                    <td>American Title &amp; License Service</td>
                    <td>1989 Greenbrier Street<br /><span class="address-city">Charleston, WV 25311</span></td>
                    <td>304-346-5938</td>
                </tr>
                <tr>
                    <td>Skeens Insurance Agency, Inc.</td>
                    <td>4053 Coal Heritage Road<br /><span class="address-city">Bluefield, WV 24701</span></td>
                    <td>304-589-3260</td>
                </tr>
                <tr>
                    <td>Tolliver Licensing &amp; Title Services</td>
                    <td>P.O. Box 1784<br /><span class="address-city">Pineville, WV 24874</span></td>
                    <td>304-202-0203</td>
                </tr>
                <tr>
                    <td>Wetzel-Valley Agencies, Inc.</td>
                    <td>300 Main Street<br /><span class="address-city">New Martinsville, WV 26155</span></td>
                    <td>304-455-4600</td>
                </tr>
                <tr>
                    <td>Loudin Insurance Agency, Inc.</td>
                    <td>207 South Kanawha Street<br /><span class="address-city">Buckhannon, WV 26201</span></td>
                    <td>304-472-1532</td>
                </tr>
                <tr>
                    <td>Floyd's License Service</td>
                    <td>373 South Mineral Street<br /><span class="address-city">Keyser, WV 26726</span></td>
                    <td>304-788-4004</td>
                </tr>
                <tr>
                    <td>Knight Vehicle Licensing</td>
                    <td>P.O. Box 700<br /><span class="address-city">Clendenin, WV 25045</span></td>
                    <td>304-548-4726</td>
                </tr>
                <tr>
                    <td>Citywide Ins and Fin Service</td>
                    <td>2066 National Road<br /><span class="address-city">Wheeling, WV 26003</span></td>
                    <td>304-242-7500</td>
                </tr>
                <tr>
                    <td>D.I.G. LLC DBA Richardson Insurance Agency</td>
                    <td>607 E. Park Ave.<br /><span class="address-city">Fairmont, WV 26554</span></td>
                    <td>304-333-6030</td>
                </tr>
                <tr>
                    <td>A-1 Service &amp; License</td>
                    <td>P.O. Box 247<br /><span class="address-city">Bruceton Mills, WV 26525</span></td>
                    <td>304-379-4345</td>
                </tr>
                <tr>
                    <td>Pleasants County Ins Agency, Inc.</td>
                    <td>904 Second Street<br /><span class="address-city">Saint Marys, WV 26170</span></td>
                    <td>304-684-7688</td>
                </tr>
                <tr>
                    <td>Tri Towns Electric</td>
                    <td>84 Ashfield Street<br /><span class="address-city">Piedmont, WV 26750</span></td>
                    <td>304-355-8012</td>
                </tr>
                <tr>
                    <td>Garrett License Service</td>
                    <td>P.O. Box 478<br /><span class="address-city">Wardensville, WV 26851</span></td>
                    <td>304-874-3512</td>
                </tr>
                <tr>
                    <td>Brady Insurance Services</td>
                    <td>422 Buckhannon Pike<br /><span class="address-city">Nutter Fort, WV 26301</span></td>
                    <td>304-622-6007</td>
                </tr>
                <tr>
                    <td>AAA License Service</td>
                    <td>3126 West Street<br /><span class="address-city">Weirton, WV 26062</span></td>
                    <td>304-748-1616</td>
                </tr>
                <tr>
                    <td>Wilson's Auto and Licensing Service, LLC</td>
                    <td>P.O. Box 535<br /><span class="address-city">Philippi, WV 26416</span></td>
                    <td>304-457-3500</td>
                </tr>
                <tr>
                    <td>Runyon Insurance Agency, Inc.</td>
                    <td>84 E. Third Ave.<br /><span class="address-city">Williamson, WV 25661</span></td>
                    <td>304-235-1400</td>
                </tr>
                <tr>
                    <td>Tracey's Title Service</td>
                    <td>40 Mongold Rd.<br /><span class="address-city">Mathias, WV 26812</span></td>
                    <td>304-897-5789</td>
                </tr>
                <tr>
                    <td>First United Licensing Service</td>
                    <td>503 Morgantown Ave., Suite 110<br /><span class="address-city">Fairmont, WV 26554</span></td>
                    <td>304-366-5179</td>
                </tr>
                <tr>
                    <td>AAA License Service</td>
                    <td>846 National Road<br /><span class="address-city">Wheeling, WV 26003</span></td>
                    <td>304-233-1810</td>
                </tr>
                <tr>
                    <td>Parrack Licensing and Title Service</td>
                    <td>1301 Harrison Avenue<br /><span class="address-city">Elkins, WV 26241</span></td>
                    <td>304-636-0899</td>
                </tr>
                <tr>
                    <td>Greg Robertson Title Service</td>
                    <td>P.O. Box 4800<br /><span class="address-city">Bridgeport, WV 26330</span></td>
                    <td>304-265-1255</td>
                </tr>
                <tr>
                    <td>Drake's License &amp; Title Service</td>
                    <td>P.O. Box 1027<br /><span class="address-city">Glenville, WV 26351</span></td>
                    <td>304-462-7903</td>
                </tr>
                <tr>
                    <td>Gauley Title and License Service</td>
                    <td>P.O. Box 1202<br /><span class="address-city">Craigsville, WV 26205</span></td>
                    <td>304-742-5000</td>
                </tr>
                <tr>
                    <td>Addison License Service, LLC.</td>
                    <td>377 Elk River Rd.<br /><span class="address-city">Webster Springs, WV 26288</span></td>
                    <td>304-847-5669</td>
                </tr>
                <tr>
                    <td>Summersville License Service</td>
                    <td>305 Jackson Avenue<br /><span class="address-city">Summersville, WV 26651</span></td>
                    <td>304-872-1187</td>
                </tr>
                <tr>
                    <td>Clark West License Service</td>
                    <td>P.O. Box 362<br /><span class="address-city">Craigsville, WV 26205</span></td>
                    <td>304-742-3700</td>
                </tr>
                <tr>
                    <td>K &amp; D Title and License Serv.</td>
                    <td>79 Boaz Main St.<br /><span class="address-city">Williamstown, WV 26187</span></td>
                    <td>304-481-0066</td>
                </tr>
                <tr>
                    <td>Tucker County License &amp; Title Service</td>
                    <td>101 Chestnut Street<br /><span class="address-city">Parsons, WV 26287</span></td>
                    <td>304-478-3641</td>
                </tr>
                <tr>
                    <td>Fish's Auto License Service</td>
                    <td>617 Broad Street<br /><span class="address-city">Summersville, WV 26651</span></td>
                    <td>304-872-7930</td>
                </tr>
                <tr>
                    <td>Bialek License &amp; Title Service</td>
                    <td>P.O. Box 304<br /><span class="address-city">Belington, WV 26250</span></td>
                    <td>304-823-2500</td>
                </tr>
                <tr>
                    <td>Tammy Doty Ins and License Serv LLC</td>
                    <td>P.O. Box 469<br /><span class="address-city">Man, WV 25635</span></td>
                    <td>304-583-6518</td>
                </tr>
                <tr>
                    <td>Nicholson License Service</td>
                    <td>P.O. Box 63<br /><span class="address-city">Salem, WV 26426</span></td>
                    <td>304-782-4222</td>
                </tr>
                <tr>
                    <td>Ritchie County Insurance Agency, Inc.</td>
                    <td>P.O. Box 99<br /><span class="address-city">Ellenboro, WV 26346</span></td>
                    <td>304-869-3332</td>
                </tr>
                <tr>
                    <td>J. W. Potts Ins Agency &amp; License Serv.</td>
                    <td>625 3rd Street<br /><span class="address-city">New Martinsville, WV 26155</span></td>
                    <td>304-455-4477</td>
                </tr>
                <tr>
                    <td>Preston Business Service</td>
                    <td>23939 George Washington Hwy.<br /><span class="address-city">Aurora, WV 26705</span></td>
                    <td>304-735-6981</td>
                </tr>
                <tr>
                    <td>Friend's Title &amp; License Service</td>
                    <td>148 Lost Avenue<br /><span class="address-city">Buckhannon, WV 26201</span></td>
                    <td>304-472-1379</td>
                </tr>
                <tr>
                    <td>United Security Agency</td>
                    <td>649 North Pike Street<br /><span class="address-city">Grafton, WV 26354</span></td>
                    <td>304-265-3427</td>
                </tr>
                <tr>
                    <td>Davis Agency</td>
                    <td>179 Holland Avenue<br /><span class="address-city">Morgantown, WV 26501</span></td>
                    <td>304-296-5481</td>
                </tr>
                <tr>
                    <td>DM Business Service</td>
                    <td>38 Annon Road<br /><span class="address-city">Newburg, WV 26410</span></td>
                    <td>304-892-3813</td>
                </tr>
                <tr>
                    <td>Kimberly H Bell Title &amp; License Serv.</td>
                    <td>4601 Pennsylvania Avenue<br /><span class="address-city">Charleston, WV 25302</span></td>
                    <td>304-965-6911</td>
                </tr>
                <tr>
                    <td>Nelson Auto Sales</td>
                    <td>P.O. Box 488<br /><span class="address-city">Ridgeley, WV 26753</span></td>
                    <td>304-738-9290</td>
                </tr>
                <tr>
                    <td>Matewan Insurance &amp; Realty, Inc.</td>
                    <td>P.O. Box 690<br /><span class="address-city">Matewan, WV 25678</span></td>
                    <td>304-426-8761</td>
                </tr>
                <tr>
                    <td>SCG License &amp; Title Service, Inc.</td>
                    <td>200 Moran Avenue<br /><span class="address-city">Mullens, WV 25882</span></td>
                    <td>304-294-7283</td>
                </tr>
                <tr>
                    <td>Ken Bass Ins Agency &amp; License Serv.</td>
                    <td>P.O. Box 335<br /><span class="address-city">New Haven, WV 25265</span></td>
                    <td>304-882-2145</td>
                </tr>
                <tr>
                    <td>Bob's License &amp; Title Service</td>
                    <td>528 North Main Avenue<br /><span class="address-city">Weston, WV 26452</span></td>
                    <td>304-269-2210</td>
                </tr>
                <tr>
                    <td>L. Jay Kniceley License Service</td>
                    <td>P.O. Box 147<br /><span class="address-city">Marlinton, WV 24954</span></td>
                    <td>304-799-6243</td>
                </tr>
                <tr>
                    <td>Ellen Galford License &amp; Title Serv.</td>
                    <td>16859 Seneca Trail<br /><span class="address-city">Buckeye, WV 24924</span></td>
                    <td>304-799-4614</td>
                </tr>
                <tr>
                    <td>J &amp; S License Service</td>
                    <td>2850 Birds Creek Road<br /><span class="address-city">Tunnelton, WV 26444</span></td>
                    <td>304-329-0529</td>
                </tr>
                <tr>
                    <td>Stevens Realty License Service</td>
                    <td>201 First Street<br /><span class="address-city">Parsons, WV 26287</span></td>
                    <td>304-478-2141</td>
                </tr>
                <tr>
                    <td>Mary K. Forman dba Mary's Clerical Service</td>
                    <td>P.O. Box 234<br /><span class="address-city">Arthurdale, WV 26520</span></td>
                    <td>304-864-6253</td>
                </tr>
                <tr>
                    <td>Mountaineer Ins and License Service</td>
                    <td>P.O. Box 367<br /><span class="address-city">Fairmont, WV 26554</span></td>
                    <td>304-366-2200</td>
                </tr>
                <tr>
                    <td>Ball P/O Auto Title and License Service</td>
                    <td>P.O. Box 1<br /><span class="address-city">Terra Alta, WV 26764</span></td>
                    <td>304-789-2147</td>
                </tr>
                <tr>
                    <td>Michael P. Lamar dba Lamar Ins</td>
                    <td>P.O. Box 35<br /><span class="address-city">Anmoore, WV 26323</span></td>
                    <td>304-368-1323</td>
                </tr>
                <tr>
                    <td>Farley's License &amp; Title Service</td>
                    <td>117 South Kanawha Street<br /><span class="address-city">Buckhannon, WV 26201</span></td>
                    <td>304-472-0223</td>
                </tr>
                <tr>
                    <td>Legacy Licensing Service, LLC.</td>
                    <td>3819 Earl L. Core Road<br /><span class="address-city">Morgantown, WV 26508</span></td>
                    <td>304-291-5609</td>
                </tr>
                <tr>
                    <td>K. Niceley's Ins. Agy / K. Niceley's L/S</td>
                    <td>583 Nicholas Street<br /><span class="address-city">Rupert, WV 25984</span></td>
                    <td>304-392-6965</td>
                </tr>
                <tr>
                    <td>Title &amp; License Place</td>
                    <td>105 North Court Street<br /><span class="address-city">Ripley, WV 25271</span></td>
                    <td>304-514-7220</td>
                </tr>
                <tr>
                    <td>Mtn St Ins Ctr Inc / Mtn St Tit &amp; Lic Service</td>
                    <td>31452 Veterans Memorial Highway<br /><span class="address-city">Terra Alta, WV 26764</span></td>
                    <td>304-789-2488</td>
                </tr>
                <tr>
                    <td>Rose Mary Lawson dba RM Lic &amp; Tit</td>
                    <td>1226 Hazelton Road<br /><span class="address-city">Bruceton Mills, WV 26525</span></td>
                    <td>304-379-7477</td>
                </tr>
                <tr>
                    <td>Fast Eddie's Title and License Service</td>
                    <td>6250 Grand Central Avenue<br /><span class="address-city">Vienna, WV 26105</span></td>
                    <td>304-295-0111</td>
                </tr>
                <tr>
                    <td>Affordable Auto Tag &amp; Title</td>
                    <td>1884 Valley Road<br /><span class="address-city">Berkeley Springs, WV 25411</span></td>
                    <td>304-258-9700</td>
                </tr>
                <tr>
                    <td>Berg Licensing Service, LLC.</td>
                    <td>196 North Tornado Way, Suite #4<br /><span class="address-city">Keyser, WV 26726</span></td>
                    <td>304-790-7688</td>
                </tr>
                <tr>
                    <td>Jen's Licensing &amp; Notary Service</td>
                    <td>575 Chestnut Street<br /><span class="address-city">Keyser, WV 26726</span></td>
                    <td>304-721-4700</td>
                </tr>
                <tr>
                    <td>BSA P/O Autos and Licensing Service</td>
                    <td>182 Main Street<br /><span class="address-city">Hinton, WV 25951</span></td>
                    <td>304-309-5040</td>
                </tr>
                <tr>
                    <td>Robert Hogbin Used Autos &amp; Lic Serv</td>
                    <td>22841 Northwestern Pike<br /><span class="address-city">Romney, WV 26757</span></td>
                    <td>304-538-4692</td>
                </tr>
                <tr>
                    <td>Mountain State Tag and Title Services, LLC.</td>
                    <td>25 Lights Addition Drive<br /><span class="address-city">Martinsburg, WV 25404</span></td>
                    <td>681-260-6768</td>
                </tr>
                <tr>
                    <td>Sam's Title Service LLC</td>
                    <td>1789 Roby Road<br /><span class="address-city">Maysville, WV 26833</span></td>
                    <td>304-668-3156</td>
                </tr>
                <tr>
                    <td>Mid Atlantic Tag &amp; Title, LLC.</td>
                    <td>1015 Mid-Atlantic Parkway<br /><span class="address-city">Martinsburg, WV 25404</span></td>
                    <td>304-270-0394</td>
                </tr>
                <tr>
                    <td>Hott License Services Tag &amp; Title</td>
                    <td>207 North Main Street<br /><span class="address-city">Petersburg, WV 26847</span></td>
                    <td>304-903-2025</td>
                </tr>
                <tr>
                    <td>DCA Pre-owned Auto Sales, LLC.</td>
                    <td>408 1st Avenue South<br /><span class="address-city">Nitro, WV 25143</span></td>
                    <td>304-553-1295</td>
                </tr>
                <tr>
                    <td>Out Wayne Title &amp; Tag, LLC.</td>
                    <td>166 Sunshine Lane<br /><span class="address-city">Wayne, WV 25570</span></td>
                    <td>304-272-2240</td>
                </tr>
                <tr>
                    <td>Victor Licensing Services, LLC.</td>
                    <td>5825 Robert C. Byrd Drive<br /><span class="address-city">Mount Hope, WV 25880</span></td>
                    <td>681-422-3242</td>
                </tr>
                <tr>
                    <td>Jarrett's Tag &amp; Title Service LLC</td>
                    <td>3010 East Dupont Avenue<br /><span class="address-city">Belle, WV 25015</span></td>
                    <td>304-595-2702</td>
                </tr>
                <tr>
                    <td>Route 28 Auto Sales, Inc.</td>
                    <td>2472 Frankfort Highway<br /><span class="address-city">Ridgeley, WV 26753</span></td>
                    <td>304-738-9272</td>
                </tr>
                <tr>
                    <td>M &amp; T Preowned Auto LLC &amp; Licensing Service</td>
                    <td>3324 Court Street<br /><span class="address-city">Fayetteville, WV 25840</span></td>
                    <td>304-574-2305</td>
                </tr>
                <tr>
                    <td>Heather's Title Tag and Notary, LLC.</td>
                    <td>125 East High Street, Room C<br /><span class="address-city">Kingwood, WV 26537</span></td>
                    <td>304-329-1677</td>
                </tr>
                <tr>
                    <td>Prudence Insurance and Licensing Serv.</td>
                    <td>1438 Main Street East<br /><span class="address-city">Oak Hill, WV 25901</span></td>
                    <td>304-469-7023</td>
                </tr>
                <tr>
                    <td>Gazsi P/O Mtrs, LLC. / Gazsi P/O Mtrs &amp; Titling Service</td>
                    <td>3772 Earl L. Core Road<br /><span class="address-city">Morgantown, WV 26508</span></td>
                    <td>304-282-1288</td>
                </tr>
                <tr>
                    <td>United Tag and Title, Inc.</td>
                    <td>912 Middleway Pike<br /><span class="address-city">Inwood, WV 25428</span></td>
                    <td>304-283-2763</td>
                </tr>
                <tr>
                    <td>Keener's Auto Repair Mntnc Tit &amp; Lic Ser.</td>
                    <td>133 River Street<br /><span class="address-city">Grantsville, WV 26147</span></td>
                    <td>304-354-7195</td>
                </tr>
                <tr>
                    <td>Sean Michael Ent., LLC. / Robinson Tag &amp; Title</td>
                    <td>7475 Hedgesville Road<br /><span class="address-city">Hedgesville, WV 25427</span></td>
                    <td>304-807-9922</td>
                </tr>
                <tr>
                    <td>Aluity License and Title Service, LLC.</td>
                    <td>1273 Stafford Drive<br /><span class="address-city">Princeton, WV 24740</span></td>
                    <td>304-431-9900</td>
                </tr>
                <tr>
                    <td>Courtney L. Cooper Agy., Inc. / Hamlin License &amp; Title Service</td>
                    <td>8048 Lynn Avenue<br /><span class="address-city">Hamlin, WV 25523</span></td>
                    <td>304-824-5300</td>
                </tr>
                <tr>
                    <td>Cardinal Tag &amp; Title, LLC.</td>
                    <td>5086 Hammonds Mill Road<br /><span class="address-city">Falling Waters, WV 25419</span></td>
                    <td>304-263-3349</td>
                </tr>
                <tr>
                    <td>Sure Group, Inc.</td>
                    <td>145 Wyoming Street<br /><span class="address-city">Welch, WV 24801</span></td>
                    <td>304-362-6466</td>
                </tr>
                <tr>
                    <td>Martinsburg Tag and Title</td>
                    <td>37 Meadow Lane<br /><span class="address-city">Martinsburg, WV 25404</span></td>
                    <td>304-726-6667</td>
                </tr>
                <tr>
                    <td>Country Roads Tag &amp; Title LLC</td>
                    <td>7015 Bloomery Pike<br /><span class="address-city">Slanesville, WV 25444</span></td>
                    <td>304-492-5652</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>