<style>
    .resource-list .list-group-item {
        background-color: #edf1f7;
        border-color: #cfd8e3;
        transition: background-color 0.2s ease;
    }

        .resource-list .list-group-item:hover {
            background-color: #dde4ef;
        }

        .resource-list .list-group-item h6 a {
            color: #2d3748 !important;
        }

        .resource-list .list-group-item .small {
            color: #637080 !important;
        }

        .resource-list .list-group-item .link-secondary {
            color: #5a6e82 !important;
        }
</style>

<div class="py-4">
    <p class="text-secondary mb-4">Official resources for motor vehicle dealers and licensing services in West Virginia.</p>
    <hr class="mb-4" style="border-color: #cfd8e3;" />

    <div class="list-group shadow-sm rounded resource-list">

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/node/76"
                   data-entity-type="node"
                   data-entity-uuid="4a37085a-5c05-4a8e-bb86-8faadc972f79"
                   data-entity-substitution="canonical"
                   class="text-decoration-none stretched-link">
                    Vehicle Registration System
                </a>
            </h6>
            <p class="mb-0 small">Designed and built for dealerships and license services to streamline interactions with the DMV.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/node/78"
                   data-entity-type="node"
                   data-entity-uuid="39ae9b5c-e5ac-4651-bcfb-76f80e576005"
                   data-entity-substitution="canonical"
                   class="text-decoration-none stretched-link">
                    Dealers Licensing
                </a>
            </h6>
            <p class="mb-0 small">Requirements and procedures to become a licensed motor vehicle dealer.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="https://transportation.wv.gov/DMV/Dealers/Pages/OnlineTemporaryAdditionalLocationRequest.aspx"
                   class="text-decoration-none stretched-link">
                    Online Temporary Additional Location Request
                </a>
            </h6>
            <p class="mb-0 small">Submit an online form for a temporary additional dealership location request.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/node/79"
                   data-entity-type="node"
                   data-entity-uuid="e419583a-c833-4496-8dd0-4c378737d324"
                   data-entity-substitution="canonical"
                   class="text-decoration-none stretched-link">
                    Motor Vehicle Dealer and Salesperson Resource Page
                </a>
            </h6>
            <p class="mb-0 small">Dealer and salesperson licensing procedures and related resources.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/media/23"
                   data-entity-type="media"
                   data-entity-uuid="e02044f0-0386-4263-b3a6-58dc50345ab4"
                   data-entity-substitution="media_download_inline"
                   class="text-decoration-none stretched-link">
                    Dealers Manual
                </a>
            </h6>
            <p class="mb-0 small">Motor Vehicles Titling Seminar Manual for dealers.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/node/80"
                   target="_blank"
                   data-entity-type="node"
                   data-entity-uuid="0db65216-408f-4836-9e2a-af68e0ad725b"
                   data-entity-substitution="canonical"
                   class="text-decoration-none stretched-link">
                    Dealer Forms
                </a>
            </h6>
            <p class="mb-0 small">View dealer manuals, forms, and reports.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/media/42" target="_blank" data-entity-type="media" data-entity-uuid="71ed381c-b734-4f6c-afc3-f73de64876f6" data-entity-substitution="media_download_inline">Reconstructed Examination Schedule&nbsp;</a>
            </h6>
            <p class="mb-0 small">
                Salvage Inspection Schedule and the Titling Process for Salvage and Reconstructed Vehicles.
                <a href="https://transportation.wv.gov/DMV/DMVFormSearch/How-to-Title-a-Reconstructed-Vehicle.pdf"
                   target="_blank"
                   class="ms-1 link-secondary"
                   style="position:relative;z-index:1;">
                    View brochure
                </a>
            </p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/node/81" data-entity-type="node" data-entity-uuid="d128a509-5f34-4c23-ada9-35ee0bcc1930" data-entity-substitution="canonical">Available Licensing Services&nbsp;</a>
            </h6>
            <p class="mb-0 small">List of all active licensing services operating in West Virginia.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="/media/52" target="_blank" data-entity-type="media" data-entity-uuid="d844a5c9-d5df-4f25-867e-d0bc2beec649" data-entity-substitution="media_download_inline">ELT Participants and Lender Codes&nbsp;</a>
            </h6>
            <p class="mb-0 small">List of all active banks and lender codes participating in the WV ELT program.</p>
        </div>

    </div>

    <div class="mt-5 p-3 border rounded small" style="background-color: #dde4ef; border-color: #cfd8e3 !important; color: #637080;">
        <strong style="color: #2d3748;">Dealer Services</strong> &nbsp;|&nbsp; PO Box 17100 &nbsp;|&nbsp; Charleston, WV 25317 &nbsp;|&nbsp; Phone: (304) 926-0705
    </div>
</div>


<style>
    .resource-list .list-group-item {
        background-color: #edf1f7;
        border-color: #cfd8e3;
    }

        .resource-list .list-group-item + .list-group-item {
            border-top: 2px solid #718096;
        }

        .resource-list .list-group-item h6 {
            color: #2d3748;
        }

        .resource-list .list-group-item .small {
            color: #637080 !important;
        }

        .resource-list .list-group-item .link-secondary {
            color: #5a6e82 !important;
        }
</style>

<div class="py-4">
    <p class="text-secondary mb-4">Frequently asked questions about secure licensing requirements at the West Virginia DMV.</p>
    <hr class="mb-4" style="border-color: #cfd8e3;" />

    <div class="list-group shadow-sm rounded resource-list">

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: Why do I need to bring in new documents to DMV when I am just renewing my license (or ID card)? I don't think I have ever had to bring in this much, so why now?</h6>
            <p class="mb-0 small">A: DMV has always required these documents when you first obtain a license or photo ID card. However, due to the passage of the REAL ID Act of 2005 by the federal government, a new level of security for obtaining licenses and ID cards is required for a FOR FEDERAL IDENTIFICATION license or ID card. DMV is compliant with the new federal standards. However, we also issue a NOT FOR FEDERAL IDENTIFICATION license or ID card. To obtain the NOT FOR FEDERAL IDENTIFICATION license or ID card upon renewal, simply bring in your current card, the renewal form, and one proof of physical address unless your address or name has changed. In that case, you would need two proofs of physical residency for an address change, and/or name change document(s) for a legal name change. Acceptable proof documents can be found on the <a href="https://transportation.wv.gov/DMV/Drivers/Pages/Drivers-Licenses.aspx" target="_blank" class="link-secondary" style="position:relative;z-index:1;">licensing page</a>.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: What is the difference between a "Federal Identification Use" card and a "Not for Federal Identification Use" card?</h6>
            <p class="mb-0 small">A: The For Federal Identification card (REAL ID) may make it easier in the future to get through security at airports and gain access to other federal buildings and resources in accordance with the REAL ID ACT of 2005. With either choice, you will leave the DMV with a 60-day temporary card and your new card will arrive first class mail in approximately 15 business days. But after May 7, 2025, a Not for Federal license or ID card is no longer adequate identification for air travel or access to select federal buildings.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: Where do I get my Certified Birth Certificate, Marriage Certificate, or Divorce Decree?</h6>
            <p class="mb-0 small">A: Call the county clerk's office in the courthouse of the county where you were born, applied for your Marriage Certificate, or finalized your Divorce for instructions on how to get certified copies. If you were born in WV, certified copies of Birth and Marriage Certificates can also be obtained through the <a href="http://www.wvdhhr.org/bph/hsc/vital/birthcert.asp" target="_blank" class="link-secondary" style="position:relative;z-index:1;">WV DHHR Office of Vital Statistics</a>. If you were born in another state, the <a href="http://www.cdc.gov/nchs/w2w.htm" target="_blank" class="link-secondary" style="position:relative;z-index:1;">National Center for Health Statistics</a> has information on how to obtain a birth certificate.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: I have a Marriage License or document that acknowledges that I am married, but it does not have the exact words "Certified Marriage Certificate" across the top. Can I use this in place of a Certified Marriage Certificate?</h6>
            <p class="mb-0 small">A: If you have a document that certifies your marriage took place and that the agency which issued the document has recorded it, it may be acceptable. To be sure, call ahead at 1-800-642-9066 for clarification.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: I have changed my name. My new name is on my current U.S. Passport, Social Security card and all proofs of WV residency. Do I still need to provide proof of name change documents?</h6>
            <p class="mb-0 small">A: As long as you have a valid Passport or Passport card and all documentation matches, you do not. If you were to use your birth certificate as your proof of identity document and it does not match all of your documentation, you would be required to provide legal name change documents that provide the "link" between your birth name and your current legal name.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: My full legal name is John Quincy Public, but I prefer to have John Q. Public on my license. Is that acceptable?</h6>
            <p class="mb-0 small">A: You may only use an initial on your license if it is part of your legal name. Abbreviations and initials are not accepted otherwise. If your full legal name is John Q. Public and it appears that way on your birth certificate or on legal name change document, you would be required to use an initial, as it is your full legal name.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: I'm using my birth certificate as my identity document and I have been divorced more than once. The last time I was divorced I decided to go back to my maiden name. What name change documentation do I have to bring in to get my license?</h6>
            <p class="mb-0 small">A: If you were issued a Divorce Decree that included the legal name change back to your maiden name, you don't need any name change documents, unless you had another name change (i.e. have gotten remarried). All of your documents must still match.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: I'm using my birth certificate as my identity document and I have been divorced more than once. I did not change my legal name after my last divorce. What name change documentation do I have to bring in to get my license?</h6>
            <p class="mb-0 small">A: You have more than one proof of identity option when you come to DMV to renew or apply for a license. If you bring in your Birth Certificate you will need all Marriage Certificates and Divorce Decrees that show the link in the names back to your birth name, unless you went back to your maiden name. If you bring in a valid US Passport with your current legal name that matches your Social Security number and proof of WV residency documents, you would not be required to provide all of the paperwork linking you back to your birth name.</p>
        </div>

        <div class="list-group-item py-3 px-4">
            <h6 class="mb-1 fw-semibold">Q: I have an amended birth certificate to present to DMV. Will this be a problem?</h6>
            <p class="mb-0 small">A: As long as it indicates it is a Certified Birth Certificate, it is acceptable. DMV will not require you to have the Original Birth Certificate, as, in some cases (i.e. adoption), they are not available.</p>
        </div>

        <div class="list-group-item list-group-item-action py-3 px-4">
            <h6 class="mb-1 fw-semibold">
                <a href="https://transportation.wv.gov/DMV/Drivers/Pages/Drivers-Licenses.aspx"
                   target="_blank"
                   class="text-decoration-none stretched-link">
                    Go to Driver's Licenses and ID Cards
                </a>
            </h6>
            <p class="mb-0 small">Visit the full Driver's Licenses and ID Cards page on the WV DMV website.</p>
        </div>

    </div>
</div>

<style>
    .download-item {
        background-color: #f7f9fc;
        border: 1px solid #cfd8e3;
        border-radius: 0.375rem;
        padding: 0.75rem 1.25rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        text-decoration: none;
        color: #2d3748;
        font-weight: 600;
        transition: background-color 0.2s ease;
    }

        .download-item:hover {
            background-color: #dde4ef;
            color: #1a202c;
        }

        .download-item svg {
            flex-shrink: 0;
            color: #637080;
        }
</style>

<p class="text-uppercase fw-bold mb-2" style="font-size: 0.75rem; letter-spacing: 0.08em; color: #5a6e82;">Downloadable Manuals</p>
<div class="d-flex flex-column gap-2">

    <a href="/media/73" target="_blank"
       data-entity-type="media" data-entity-uuid="8c3798d5-359c-422b-9ba6-47909f25a33f"
       data-entity-substitution="media_download_inline"
       class="download-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>
        Commercial Driver License (CDL) Manual
    </a>

    <a href="/media/68" target="_blank"
       data-entity-type="media" data-entity-uuid="5a4647c6-02a7-4627-aed5-4a51e782643f"
       data-entity-substitution="media_download_inline"
       class="download-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>
        Driver's Licensing Handbook
    </a>

    <a href="/media/70" target="_blank"
       data-entity-type="media" data-entity-uuid="22febf06-f0e5-4ff4-8320-8acf2df26c6b"
       data-entity-substitution="media_download_inline"
       class="download-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>
        Motorcycle Operator Handbook
    </a>

    <br />

</div>